<html>
  <head>
    <title>The Gossip Project - Edit your Gossip</title>
  </head>
  <body>
  <h1>Editer un potin !</h1>
  <br/> 
  <p>Met à jour le potin <%= id %> via le formulaire ci-dessous </p> 
  <form action='/gossips/edit/' method='POST'> 
      <% gossips.each do |gossip| %>
          Modifie le nom :  <input type='text' name='gossip_author' value="<%= gossip.author %>" /><br/> 
          Balances ton potin : <input type='text' name='gossip_content' value="<%= gossip.content %>" /><br/> 
       <% end %>
      <input type='hidden' name='id' value='<%= id %>'/>
      <input type='submit'/> 
  </form> 
  </body>
</html>